<div class="container py-5 ">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="divPrincipal p-4 rounded shadow text-center m-3" style="max-width: 500px; width: 100%;" >
            <div class="d-flex justify-content-center align-items-center ">
                <img
                  src="assets/34564560-e2b5-477f-94fb-2747b61fda00.jpg"
                  alt="Imagem redonda"
                  class="rounded-circle border border-2"
                  style="width: 200px; height: 200px; object-fit: cover;">
            </div>
          <h1 class="mb-3 text-white">Luiz Claudio Lacerda</h1>
          <h3 class="mb-3 text-white">Terapeuta de base psicanalítica </h3>
          <p class="mb-4 text-white">Tendo a psicanálise como abordagem, atendo clientes adultos nas formas presencial e online.
                          Para informações mais detalhadas e também para agendar uma primeira conversa, chame no WhatsApp </p>
          <a class="btn btn-success d-flex align-items-center gap-2" style="justify-content: center; align-items: center;"
                href="https://wa.me/5511981301937?text=Ol%C3%A1%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es!"
                target="_blank"
                rel="noopener noreferrer">
                    <i class="fab fa-whatsapp fa-2x"></i> Fale no WhatsApp
           </a>
        </div>

        <br>
        <app-cards [content]="texos"></app-cards> 
        
        <h3 class="text-white">Textos</h3>
        <br>
        <div class="divPrincipal p-4 rounded shadow text    -center m-2" style="max-width: 500px; width: 100%;" >
            <p class="mb-4 text-white"> Um dia foi só mágica, mágica que ainda está em todos sob os véus dos receios e do esquecido. </p>
            <h4 class="mb-4 text-white"> Nuvens </h4>
            <p class="mb-4 text-white"> Menino, pintava o que lá ia exististindo, criava o que ia sendo criado, éramos eu a as nuvens em uma relação onde, no alto, elas faziam figuras que, por aqui, ia conhecendo e me encantando. </p>
            <p class="mb-4 text-white"> Foram tantos coelhos, tantos dragões, rostos e rostos e locomotivas com fumaça se sustentando no ar, e saindo de uma para outra, modeladas pelos ventos que eu não via. </p>
            <p class="mb-4 text-white"> O leão era dócil e virava uma árvore, o cavalo era rápido em fazer-se um avião. Os rostos que via iam mundando de humor até não poderem ser mais rostos e aí eram locomotivas.  </p>
            <p class="mb-4 text-white"> As nuvens me levaram além de triângulos, círculos e quadrados, 
                penso que as nuvens achassem que disso eu já sabia e nunca me mostravam o que tivesse arestas ou fosse tão exato que não pudesse, rápido, vir a ser outra coisa, era de mostrar tudo que não fosse simples e quanto mais complexo era mais fácil de ver, naquela tela azul de tintas brancas e cinzas, toda a sorte de seres e coisas e gentes. </p>
            <p class="mb-4 text-white"> O céu foi a minha primeira tela, aquela na qual me saí melhor, pois nunca forcei que algo fosse outro algo, só ia, como podia, vendo o que tinha já em mim e, que por isso, lá se fazia também em forma e verdade. </p>
            <p class="mb-4 text-white"> Os ventos que sopravam lá, sopravam em mim. </p>
            <h4 class="mb-4 text-white"> Petecas </h4>
            <p class="mb-4 text-white"> Tive, também, uma outra forma de conhecer a vida, o mundo daquilo que na minha terra chamamos de peteca, mas que por aqui e por ali chamam de bola de gude, xinbre, biroca, berlinde; sim as esferas de vidro que encantavam as crianças que, molecas, dominavam um sem número de jogos com regras, que nos diziam sobre propriedades, direitos, deveres, proibições, perder e ganhar.  </p>
            <p class="mb-4 text-white"> As petecas, que aqui chamarei assim para honrar uma memória muito querida, foram as que me deram a saber, pela primeira vez, como eram os mundos fantásticos, que supunha existirem, os outros planetas, e também imaginei um mundo de espíritos. As olhava muito próximo do olho e ficava nisso por um tempo longo, em um processo que podia ser de alguns até muitos minutos. As girava levemente e ia descobrindo, nesse rotação, sobre coisas que não eram vistas nas nuvens.  </p>
            <p class="mb-4 text-white"> Engraçado, as petecas nunca me mostraram nada que já existisse no meu mundo, algo que eu já pudesse ter estado diante, mas o que pude vir a saber, só anos depois, que eram formas semelhantes ao que se vê nas imagens telescópica do cosmos, e tudo isso, em pouco mais de um centímetro de diámetro. </p>
            <p class="mb-4 text-white"> Enquanto as nuvens estavam lá  acima de mim, com as petecas eu estava a voar sobre galáxias que essas peças de vidro me iam me antecipando.
                Com as nuvens era eu sob o céu e com elas eu é que pairava sobre céus e espaços de mundos que depois eu guardava nos bolsos.  </p>
            <p class="mb-4 text-white"> Depois dessa intimidade, elas mudavam seu caráter e eram arremessadas contra um outro universo que um colega tinha acabado de tirar do bolso e colocado na terra para aprendermos um com o outro sobre o outro, tantos outros, sobre as normas e o trânsito entre os seres. </p>
            <h4 class="mb-4 text-white"> Vento </h4>
            <p class="mb-4 text-white"> Nunca vi o vento, mas das coisas que nunca vi é a minha fé mais fervorosa. </p>
            <p class="mb-4 text-white"> O vento é uma antecipação do espiritual, uma espécie de ante-sala a dizer do que há sem ser visto e de ser visto quando sentido.  </p>
            <p class="mb-4 text-white"> O vento é a própria representação da vida, pois o vento é o ar em movimento, então ele é algo por se mover, ou por mover algo ou por ser algo que tendo algo a sucumbir a sua força tem o batismo de Vento. </p>
            <p class="mb-4 text-white"> O vento é um espírito fácil de aceitar e de conviver com ele, me tocando quando vem e me abraçando sem que eu dê por ele, e quando para e já não é. </p>
            <p class="mb-4 text-white"> O vento sempre foi meu maior encanto, mas vamos lá, confesso que junto com as pedras, e também junto com os paus jogados ao mar e que chegam por mil arbítrios depois de todas as vicissitudes às praias distantes. </p>
            <p class="mb-4 text-white"> Mas os ventos são a forma mais interessante que o mistério arrumou para falar dos seus restos sem conta. </p>
            <p class="mb-4 text-white"> O vento irmana todas as peles e todas as coisas que estão sob o sol e acima da terra, sua metáfora lembra, às consciências; </p>
            <p class="mb-4 text-white"> que as partes são só uma tolice por nós inventada para lidar com o absurdo de tanto. </p> 
            
        </div>
        
    </div>
</div>