<div class="container py-5 ">
    <div class="d-flex justify-content-center align-items-center vh-100 ">
        <div class="divPrincipal p-4 rounded shadow text-center " style="max-width: 500px; width: 100%;">
            <div class="d-flex justify-content-center align-items-center ">
                <img
                  src="assets\926f3276-b1ad-4f99-94b0-3dea9be053aa.jpg"
                  alt="Imagem redonda"
                  class="rounded-circle border border-2"
                  style="width: 200px; height: 200px; object-fit: cover;">
              </div>
          <h1 class="mb-3 text-white">Luiz Claudio Psicanálise </h1>
          <p class="mb-4 text-white">Tendo a psicanálise como abordagem, atendo pacientes adultos nas formas presencial e online.
                          Para informações mais detalhadas e também para agendar uma primeira conversa, chame no WhatsApp </p>
          <a class="btn btn-success d-flex align-items-center gap-2" style="justify-content: center; align-items: center;"
                href="https://wa.me/5511981301937?text=Ol%C3%A1%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es!"
                target="_blank"
                rel="noopener noreferrer">
                    <i class="fab fa-whatsapp fa-2x"></i>
           </a>
        </div>
    </div>
</div>