<div *ngFor="let card of content">
    <div class="divPrincipal p-4 rounded shadow text-center m-2" style="max-width: 500px; width: 100%;" >
        <h4 *ngIf="card.titulo" class="mb-4 text-white"> {{card.titulo}} </h4>
        <div *ngFor="let line of card.lines">
            <p class="mb-4 text-white">{{line}}</p>
        </div>
        <a *ngIf="card.showButton" class="btn btn-success d-flex align-items-center gap-2" style="justify-content: center; align-items: center;"
                    href="https://wa.me/5511981301937?text=Ol%C3%A1%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es!"
                    target="_blank"
                    rel="noopener noreferrer">
                        <i class="fab fa-whatsapp fa-2x"></i>Fale no WhatsApp
            </a>
        </div>
</div>